{% extends "index.html" %}

{% block title %}
List of users
{% endblock %}

{% block content %}
<table border="3" width=25% >
{% for dict in userlist %}
    <tr>
    <td><a href="/users/{{ dict.id }}">{{ dict.id }}</a></td>
    <td><a href="/users/{{ dict.name }}">{{ dict.first_name }}</a></td>
    <td><a href="/users/{{ dict.name }}">{{ dict.surname }}</a></td>s
    </tr>
{% endfor %}
</table>

{% if id %}
    <table border="3" width=25% >
    <tr>
    <td>{{userinfo.first_name}}</td>
    <td>{{userinfo.surname}}</td>
    <td>{{userinfo.working_time}}</td>
    </tr>
    </table>
{% endif %}
{% endblock %}
