{% extends "index.html" %}

{% block title %}
meetings
{% endblock %}

{% block content %}
<table border="3" width=25% >
 {% for dict in meetlist %}
    <tr>
    <td><a href="/meetings/{{ dict.id }}">{{ dict.id }}</a></td>
    <td><a href="/meetings/{{ dict.name }}">{{ dict.name }}</a></td>
    <td><a href="/meetings/{{ dict.name }}">{{ dict.date }}</a></td>
    </tr>
{% endfor %}
</table>

{% if id %}
    <table border="3" width=25% >
    <tr>
    <td>{{meetinfo.name}}</td>
    <td>{{meetinfo.date}}</td>
    <td>{{meetinfo.start_time}}</td>
    <td>{{meetinfo.stop_time}}</td>
    </tr>
    </table>
{% endif %}
{% endblock %}
